{% extends "base.html" %} 
{% load static %} 
{% block content %}

<!--Table starts-->

<div class="mt-2" id="urls_tab">
    <table class="table table-striped" id="main_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Do you want to check this?</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr id="{{ object.id }}" class="{% if object.usable %} bg-success {% else %} bg-danger {% endif %}">
                <td>{{ object.id }}</td>
                <td>{{ object.title}}</td>
                <td>{{ object.reference}}</td>
                <td>{{ object.description }}</td>
                <td><input type="radio" class="ml-5"></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<!-- Table ends -->

{% endblock content %}

{% block javascript %}
{% endblock javascript %}