{% extends "base.html" %} 
{% load static %} 
{% block content %}

<!--Table starts-->

<div class="mt-2 ml-3" id="urls_tab">
    <table class="table table-striped" id="main_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Do you want to check this?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Google</td>
                <td>www.google.com</td>
                <td>search system</td>
                <td><input type="radio" class="ml-5"></td>
        </tbody>
    </table>
</div>

<!-- Table ends -->

{% endblock content %}

{% block javascript %}
{% endblock javascript %}