{% extends "base.html" %} 
{% load static %} 
{% block content %}

<!--Table starts-->

<div class="mt-2" id="urls_tab">
    <table class="table table-striped" id="main_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Checking now</th>
            </tr>
        </thead>
        <tbody id="table_body">
            {% for object in object_list %}
            <tr id="{{ object.id }}" class="{% if object.usable %} bg-success {% else %} bg-danger {% endif %}">
                <td>{{ object.id }}</td>
                <td>{{ object.title}}</td>
                <td>{{ object.reference}}</td>
                <td>{{ object.description }}</td>
                <td><input type="checkbox" class="ml-5" {% if object.checking_now %} checked {% endif %}></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
</div>

<div class="input-group input-group-sm mb-3 col-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">How often to refresh? (in seconds)</span>
  </div>
  <input type="text" class="form-control" placeholder="5" aria-describedby="inputGroup-sizing-sm" id="interval">
</div>
    

<!-- Table ends -->

{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'main/js/scripts.js' %}"></script>
{% endblock javascript %}